{% extends 'base.html' %}

{% load static %}
{% load filters %}
{% block title %}Feed Tracker | Weight Log{% endblock %}

{% block body_block %}
<div class='py-4 mt-auto'>
    <div class='container-fluid px-4'>

        <div class='row justify-content-center'>
            <div class='col-xl-12'>
                
                <div class='row g-3'>
                    <div class='col-md-6 mt-4'>
                        
                        <!-- ENTRY CARD -->
                        <div class='card shadow-sm h-100'>
                            <div class='card-header'>
                                <h2>Hi, {{user.username.capitalize}}!</h2>
                            

                            <div class="d-flex w-100 justify-content-between">
                                <p class='mb-1'>
                                    Last login: <strong>{{ user.last_login }}</strong>
                                </p>
                            </div>

                            
                            <div class="d-flex w-100 justify-content-between">
                                <p class='mb-1'>
                                    Date joined: <strong>{{ user.date_joined }}</strong>
                                </p>
                            </div>

                            </div>

                            <div class='card-body'>

                                <div class="form-group">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="row">

                                                <div>
                                                    <p class='mb-4'>
                                                        <h4>Add New Weight</h4>
                                                    </p>
                                                </div>

                                                <div class="col-lg-6">
                                                    <label for="weightdate" class="form-label mt-2">Date</label>
                                                    <input type="date" name="date" class="form-control" id="weightdate" placeholder="Date" required>
                                                </div>

                                                    <div class="col-sm-6">
                                                        <label for="weightamount" class="form-label mt-2">Current Weight</label>
                                                        <div class="input-group flex-nowrap">
                                                        {% if user.units == 'IMPERIAL' %}
                                                            <input type="number" name="lbs" class="form-control" id="weightamount" min="0" required>
                                                            <span class="input-group-text" id="units">Lbs</span>
                                                            <input type="number" name="oz" class="form-control" id="weightamount" min="0" required>
                                                            <span class="input-group-text" id="units">oz</span>
                                                        {% else %}
                                                            <input type="number" name="weight" class="form-control" id="weightamount" min="0" step="0.001" placeholder="Amount" required>
                                                            <span class="input-group-text" id="units">kg</span>
                                                        {% endif %}
                                                            

                                                        </div>
                                                    </div>

                                                    

                                                <div class="col-lg-6">
                                                    <button type="submit" class="btn btn-primary" style='margin-top:40px;'>Add Entry</button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="card shadow-sm mb-3 h-100">
                                <div class="card-header">
                                    <h5>Weight Graphs</h5>
                                </div>
                                <div class="card-body bg-muted"> 
                                    <div class="chartBox">
                                        <canvas id="weightChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <!-- 
                                                                        FEEDINGS LOG TABLE CARD 

                            THIS IS WHERE THE CUSTOM FILTER TAG IS BEING USED TO CONVERT THE AMOUNT OF ENTRY TO METRIC BASED ON USER SETTINGS
                            -->
                        <div class="col-xl-12">
                            <div class="card shadow-sm mb-3">
                                <div class="card-header">
                                    <h5>Feeding Log for:</h5>
                                    <h5><strong class="text-primary" id="currentDate"></strong></h5>
                                </div>
                                <div class="card-body">
                                    <table id="weightTable" class="table table-hover shadow" style="text-align: center; vertical-align: middle;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-md-2">Date</th>
                                                {% if user.units == 'IMPERIAL' %}
                                                <th scope="col" class="col-md-2">Weight - Lbs & oz</th>
                                                {% else %}
                                                <th scope="col" class="col-md-2">Weight - Kg</th>
                                                {% endif %}
                                                <th scope='col' class='col-md-2'></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for entry in user_weight_log %}
                                            <tr>
                                                <td class="col md-2">{{ entry.date }}</td>
                                                {% if user.units == 'IMPERIAL' %}
                                                    <td class="col md-2">{{ entry.weight|convert_weights:user.units }}</td>
                                                {% else %}
                                                    <td class="col md-2">{{ entry.weight }}</td>
                                                {% endif %}
                                                <td>
                                                    <a class="btn btn-danger" href="{% url 'feeds:weightdelete' entry.id %}">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>

            </div>
        </div>

    </div>
</div>

    <!-- Chart.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <!-- Jquery Script -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- Feed Log JS -->
<script src="{% static 'js/weightlog.js' %}"></script>


{% endblock %}



